$dark-purple-color: #735da5;
$light-purple-color: #d3c5e5;

:root {
  --dark-purple-color: #735da5;
  --light-purple-color: #d3c5e5;
}

$PinkBackground: "@assets/images/background/card-background.jpg";
